.git
.github
.vs
.vscode
.idea

**/bin/
**/obj/
**/TestResults/

**/node_modules/
**/dist/

logs/**/*.log
OnlineCourses.API/logs/
OnlineCourses.API/online-courses-dev.db

*.user
*.suo
*.log
*.db
*.sqlite
*.sqlite3
